html{
    cursor: url(./imagens/mata_mosca.png) 30 30, auto;
}


body{
    background-image: url(./imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mosquito{
    width: 70px;
    height: 70px;
}

.mosquito1{
    width: 90px;
    height: 90px;
}

.mosquito2{
    width: 100px;
    height: 100px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0px;
    background-color: #fff;
    border-top: solid 1px #fff;
    opacity: .7;
}

.vidas{
    float: left;
}

.conometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}